<%= form_for @group do |f| %>
  <div class="field mb-6">
    <%= f.label :name, class: 'block text-gray-700 mb-1 font-bold' %>
    <%= f.text_field :name, class: 'shadow appearance-none rounded w-full border px-3 py-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
  </div>

  <div class="field mb-6">
    <%= f.label :is_private, class: 'block text-gray-700 mb-1 font-bold' %>
    <%= f.check_box :is_private, class: 'border px-3 py-3' %>
  </div>

  <div class="field mb-6">
    <%= f.label :users, class: 'block text-gray-700 mb-1 font-bold' %>
    <%= select_tag("users[]", options_for_select(User.all.collect { |user| [user.username, user.id] }, User.all.collect { |user| user.id }),
{:multiple=>true, :id => "user_id"}) %>
  </div>
                 
  <%= f.submit 'Save', role: 'button', class: 'shadow bg-teal-700 hover:bg-teal-900 hover:shadow-xl focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded' %>
<% end %>

<script type="text/javascript">
	$(function() {
	  var checkbox = $("#group_is_private");
	  var hidden = $("#user_id");
	  hidden.hide();
	  checkbox.change(function() {
	    if (checkbox.is(':checked')) {
	      hidden.show();
	    } else {
	      hidden.hide();
	    }
	  });
	});
</script>